.side-bar
  .side-bar__user-info
    .main-item
      .main-item__name
        koshiro
      .main-item__icon
        =link_to "#", class: "main-item__icon-btn" do
          = icon('fas', 'edit',  class: "main-item__icon-btn--etit")
        =link_to "#", class: "main-item__icon-btn" do
          = icon('fas', 'cog',  class: "main-item__icon-btn--cog")

  .side-bar__group-index
    .group-block
      .group-block__name
        techexpert
      .group-block__message
        まだメッセージはありません。