$white: #fff;
$gray_white: #eee;
$dark_white: #ddd;
$gray: #333;
$black: #434a54;
$light_gray: #999;
$side_blue_light: #2f3e51;
$side_blue_dark: #253141;
$light_blue: #38aef0;
$orange: #f05050;
$alert_orange: #f35500;

$side_padding: 0 20px;
$main_padding: 0 40px;
$form_padding: 20px 40px;