.side-header {
  @include __base(100px, auto, $side_blue_dark);
  padding: $side_padding;
  @include __align(flex, center);
}

.header-block {
  @include __base(20px, 100%, transparent);
  @include __justify(flex, space-between);
  &__username {
    @include __font(16px, $white, bold);
  }
  &__menu {
    @include __base(auto, 60px, transparent);
    @include __justify(flex, flex-end);
    &__edit-user {
      margin-left: 5px;
    }
    a {
      color: $white;
    }
  }
}
