.header {
  @include __base(100px, auto, $white);
  padding: $main_padding;
  border-bottom: 1px solid $gray_white;
}

.header-box {
  @include __base(100%, auto, transparent);
  @include __justify(flex, space-between);
  &__group {
    @include __base(auto, auto, transparent);
    &__name {
      padding: 35px 0 15px;
      @include __font(20px, $gray, normal);
    }
    &__member {
      @include __font(12px, $light_gray, normal);
    }
  }
  &__btn {
    display: block;
    @include __base(38px, 70px, transparent);
    padding: 0 20px;
    margin-top: 30px;
    border: 1px solid $light_blue;
    @include __font(16px, $light_blue, normal);
    @include __font-center(38px, center);
  }    
}