.form {
  background-color: #DDDDDD;
  box-sizing: border-box;
  height: 90px;
  padding: 20px 50px 20px 40px;
  &__message {
    border: none;
    float: left;
    height: 50px;
    width: calc(100% - 150px);
    padding-left: 10px;
  }
  &__mask {
    background-color: $white;
    float: left;
    height: 50px;
    padding-right: 10px;
    &__image {
      font-size: 20px;
      line-height: 50px;
    }
    .hidden {
      display: none;
    }
  }
  &__submit {
    background-color: $light_blue;
    border: none;
    color: $white;
    float: right;
    font-size: 16px;
    height: 50px;
    margin-left: 15px;
    padding: 0 30px;
  }
}



// .form {
//   @include __base(90px, 100%, #d2d2d2);
//   padding: $formPadding;
//   @include __justify(flex, space-between);
// }

// .message {
//   @include __base(100%, 100%, $whiteColor);
//   padding: 0 40px 0 10px;
//   border-style: none;
//   position: relative;
// }

// .form__mask {
//   position: absolute;
//   top: 17px;
//   right: 10px;
//   &__image {
//     cursor: pointer;
//     &__file {
//       display: none;
//     }
//   }
// }


// .submit-btn {
//   @include __base(100%, auto, $blueColor);
//   padding: 0 30px;
//   margin-left: 15px;
//   color: $whiteColor;
//   cursor: pointer;
// }