* {
  box-sizing: border-box;
}


// --------------wrapper---------------

.wrapper {
  display: flex;
}



// --------------side-bar---------------

.side-bar {
  height: 100vh;
  width: 300px;
  // background-color: #253141;

  &__user-info {
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
  }

  .main-item {
    height: 20px;
    width: 260px;
    // background-color: #333333;
    margin: 0 auto;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    
    &__icon {
      width: 60px;
      display: flex;
      justify-content: flex-end;
    }

    &__icon-btn {
      text-decoration: none;
      color: #ffffff;
      line-height: 20px;

      &--cog {
        padding-left: 5px;
      }
    }
  }


  &__group-index {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
  }

  .group-block {
    height: auto;
    width: 260px;
    margin: 0 auto;
    padding: 20px 0 40px;

    &__name {
      font-size: 15px;
      font-weight: bold;
      color: #ffffff;
      margin-bottom: 5px;
    }

    &__message {
      font-size: 11px;
      font-weight: bold;
      color: #ffffff;
    }

  }
}



// --------------chat-main---------------

.chat-main {
  height: 100vh;
  width: calc(100% - 300px);
  background-color: #ffffff;

  &__group-info {
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
  }

  .group-overview {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;

    &__left {
      width: auto;

      &__name {
        font-size: 20px;
        color: #333333;
        padding: 35px 0 15px;
      }

      &__member {
        font-size: 12px;
        color: #999999;
      }
    }

    &__right {
      height: 68px;
      width: 72px;
      padding-top: 28px;

      &__btn {
        font-size: 16px;
        color: #38aef0;
        text-align: center;
        padding: 0 20px;
        line-height: 40px;
        border: 1px solid #38aef0;
      }
    }


  }

  &__message-history {
    height: calc(100vh - 190px);
    background-color: #fafafa;
    
    &__block {
      height: 70px;
      width: 300px;
      margin: 35px 0 0 40px;

      &__name {
        font-size: 16px;
        font-weight: bold;
        color: #333333;
        display: inline-block;
      }

      &__date {
        font-size: 12px;
        color: #999999;
        display: inline-block;
      }

      &__message {
        font-size: 14px;
        color: #434A54;
        margin-top: 12px;
      }
    }
  }

  &__message-form {
    height: 90px;
    background-color: #d2d2d2;
  }
}

